@model Reminder.Domain.Entity.MyReminder

<div class="col-md-5">
    <h4>@Html.DisplayFor(model => model.Name)</h4>
    <hr />
    <dl class="dl-horizontal">
       
        <dd>
            @Html.HiddenFor(model => model.ReminderId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReminderTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReminderTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CategoryId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CategoryId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ImageId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ImageId)
        </dd>

    </dl>

    <p>
        @Html.ActionLink("Details", "GetDetails", "ReminderItem", new { reminderId = Model.ReminderId }, null)
    </p>
</div>