@model Reminder.Common.Entity.MyReminder

<div class="col-md-4">
    <h4>@Html.DisplayFor(model => model.Title)</h4>
    <hr />

    <div class="reminder-item-conteiner">
        <div class="image-conteiner">
            <img class="image-item" src="@Model.Image" alt="No image available" />
        </div>

        <dl class="dl-vertical">

            <dt>
                @Html.DisplayNameFor(model => model.Date)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Date)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ReminderTime)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ReminderTime)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.CategoryId)
            </dt>

            @Html.Action("GetCategoryName", "Category", new { id = Model.CategoryId })

        </dl>
    </div>
    <div class="button-conteiner">
        @Html.ActionLink("Details", "GetDetails", "Details", new { reminderId = Model.ReminderId }, new { @class = "btn btn-info" })
        @Html.ActionLink("Edite", "GetDetails", "Details", new { reminderId = Model.ReminderId }, new { @class = "btn  btn-warning" })
        @Html.ActionLink("Delete", "GetDetails", "Details", new { reminderId = Model.ReminderId }, new { @class = "btn btn-danger" })
    </div>
</div>