@model Reminder.WebUI.Models.ViewsModels.ViewReminderIndex

@{
    ViewBag.Title = "Index";
}

<h2>
    Reminder list
</h2>
@if (Model != null && Model.Message != null)
{
    <div id="resultAction">
        @if (Model.Result)
        {
          <div id="message" class="alert alert-success">
            @Model.Message
          </div>
        }
        else
        {
          <div id="message" class="alert alert-danger">
            @Model.Message
          </div>
        }
    </div>
}

<div class="form-group">
    <div class="col-md-12">
        @Html.ActionLink("Search", "SearchList", "Search", null, new { @class = "btn btn-info" })
        @Html.ActionLink("Add Reminder", "AddReminder", "Reminder", null, new { @class = "btn btn-danger" })
    </div>
</div>

<div class="col-md-2">
    <h3>Categories</h3>
    @Html.Action("CategoryList", "Category")

    @if (HttpContext.Current.User.Identity.IsAuthenticated)
    {
        if (Model.CurrentUser.IsInRole("Editor, Admin"))
        {
            <h3>Edit Mode</h3>
            @Html.RouteLink("Editor", "Editor_Mode", new { controller = "Editor", action = "Index" })
        }

        if (Model.CurrentUser.IsInRole("Admin"))
        {
            <h3>Admin Mode</h3>
            @Html.RouteLink("Admin", "Admin_Mode", new { controller = "Admin", action = "Index" })
        }
    }

</div>

<div class="col-md-10">
    <div id="result">
        @Html.Action("ReminderList", "Reminder")
    </div>
</div>