
@{
    ViewBag.Title = "Index";
    var options = new AjaxOptions { UpdateTargetId = "result", LoadingElementId = "loader" };
}

<div class="col-md-4">
    <h2>Welcom to Editor Mode</h2>

    <div class="list-group list-unstyled">
        @Html.ActionLink("Select an action", "Index", "Editor", new { area = "Editor" }, new { @class = "list-group-item active" })
        @Html.Raw(@Ajax.ActionLink("[replacetext]", "CreateCategory", "Editor", options, new { @class = "list-group-item" }).ToHtmlString().Replace("[replacetext]", "<span class='glyphicon glyphicon-pencil'></span>  Create"))
        @Html.Raw(@Ajax.ActionLink("[replacetext]", "EditeCategory", "Editor", options, new { @class = "list-group-item" }).ToHtmlString().Replace("[replacetext]", "<span class='glyphicon glyphicon-refresh'></span>  Edit"))
        @Html.Raw(@Ajax.ActionLink("[replacetext]", "DeleteCategory", "Editor", options, new { @class = "list-group-item" }).ToHtmlString().Replace("[replacetext]", "<span class='glyphicon glyphicon-trash'></span>  Delete"))
    </div>

    <div>
        @Html.ActionLink("Return to MyReminder", "Index", "Reminder", new { area = "" }, new { @class = "btn btn-primary" })
    </div>

</div>

<div class="col-md-8">
    <div id="result">
        <h2>
            Description
            <span id="loader" style="display:none">
                <img src="~/Content/loaders/loader-blue.png" />
            </span>
        </h2>
        <p>
            The editor mode allows you to create and delete any information (except for the user)
        </p>
    </div>
</div>