@model Reminder.Common.Entity.MyReminder

@{
    ViewBag.Title = "GetDetails";
}

<h2>GetDetails</h2>

<div>
    <h4>MyReminder</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ReminderId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReminderId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReminderTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReminderTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CategoryId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CategoryId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Image)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Image)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "ReminderList", "Reminder", new { category = Model.CategoryId}, null)
</p>
