@model Reminder.Common.Entity.ReminderInfo

@{
    var options = new AjaxOptions { UpdateTargetId = "result", LoadingElementId = "loader" };
}

<div>
    <h3>
        Details
        <span id="loader">
            <img src="~/Content/loaders/loader-blue.png" />
        </span>
    </h3>
    <hr />

    <div class="reminder-item-conteiner">
        <div class="image-conteiner">
            <img class="image-item" src="@Model.Reminder.Image" alt="No image available" />
        </div>

        <dl class="dl-horizontal">

            <dt>
                @Html.DisplayNameFor(model => model.Reminder.Title)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Reminder.Title)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Reminder.Date)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Reminder.Date)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Reminder.ReminderTime)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Reminder.ReminderTime)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Description)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Description)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Actions)
            </dt>

            <dd>
                @foreach (var action in Model.Actions)
                {
                    <div>@action</div>
                }

            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Reminder.Category.CategoryName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Reminder.Category.CategoryName)
            </dd>

        </dl>
    </div>
</div>
<br />
<div class="details-button-conteiner">
    @if (ViewBag.Return == null)
    {
        @Ajax.ActionLink("Back to All Category", "ReminderList", "Reminder", null, options, new { @class = "btn btn-primary"})
        @Ajax.ActionLink($"Back to category {Model.Reminder.Category.CategoryName}", "ReminderList", "Reminder", new { category = Model.Reminder.Category.CategoryId }, options, new { @class = "btn btn-primary" })
        @Html.ActionLink("Edite", "EditeReminder", "Reminder", new { reminderId = Model.Reminder.ReminderId }, new { @class = "btn  btn-warning" })
        @Ajax.ActionLink("Delete", "DeleteReminder", "Reminder", new { reminderTitle = Model.Reminder.Title, reminderId = Model.Reminder.ReminderId }, options, new { @class = "btn btn-danger" })

    }
    else
    {
        @Ajax.ActionLink("Back to Search", null, null, null, options, new { @class = "btn btn-primary", href = ViewBag.Return })
        @Html.ActionLink("Edite", "EditeReminder", "Reminder", new { reminderId = Model.Reminder.ReminderId, returnUrl = Url.Action("SearchList", "Search") }, new { @class = "btn  btn-warning" })
        @Ajax.ActionLink("Delete", "DeleteReminder", "Reminder", new { reminderTitle = Model.Reminder.Title, reminderId = Model.Reminder.ReminderId }, options, new { @class = "btn btn-danger" })
    } 
</div>

