@model Reminder.WebUI.Models.ViewsModels.ViewLogin

<h2>
    Login
</h2>

@if (Model != null && !string.IsNullOrEmpty(Model.Message))
{
    <div style="max-width:280px">
        @if (Model.Result)
        {
            <div id="message" class="alert alert-success">
                @Model.Message
            </div>
        }
        else
        {
            <div id="message" class="alert alert-danger">
                @Model.Message
            </div>
        }
    </div>
}

@using (Html.BeginForm("Login", "Login", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        
       
        <div class="form-group">
            <div class="col-md-12">
                @Html.LabelFor(model => model.Login)
            </div>
            <div class="col-md-12">
                @Html.TextBoxFor(model => model.Login, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Login, null, new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-12">
                @Html.LabelFor(model => model.Password)
            </div>
            <div class="col-md-12">
                @Html.PasswordFor(model => model.Password, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Password, null, new { @class = "text-danger" })
            </div>
        </div>

        <div>
            <button class="btn btn-success" type="submit">Login</button>
            or
            @Html.ActionLink("Registration", "Registration", "Registration", new { area = "" }, new { @class = "btn btn-danger" })
        </div>
        
    </div>
}