@model Reminder.WebUI.Models.ViewsModels.ViewUserPassword

@{ 
    var options = new AjaxOptions { UpdateTargetId = "result", LoadingElementId = "loader" };
}

<div class="form-horizontal">
    <h3>
        Set NEW Password
        <span id="loader">
            <img src="~/Content/loaders/loader-blue.png" />
        </span>
    </h3>
    <hr />

    @using (Ajax.BeginForm("SetPassword", options))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.PasswordFor(model => model.Password, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.RePassword, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.PasswordFor(model => model.RePassword, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.RePassword, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Set" class="btn btn-danger" />
                    @Html.ActionLink("Close", "ProfilePage", "Profile", null, new { @class = "btn btn-primary" })
                </div>
            </div>
        </div>
    }
</div>
