@model IEnumerable<Reminder.Common.Entity.MyReminder>

@{ 
    var options = new AjaxOptions { UpdateTargetId = "result", LoadingElementId = "loader" };
}

@if (ViewBag.Result)
{
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReminderTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category.CategoryName)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReminderTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category.CategoryName)
                </td>
                <td>
                    @Html.ActionLink("Edite", "EditeReminder", "Reminder", new { reminderId = item.ReminderId, returnUrl = Url.Action("SearchList", "Search") }, null)|
                    @Ajax.ActionLink("Details", "GetDetails", "Details", new { reminderId = item.ReminderId, returnUrl = Url.Action("GetSearchResult", "Search") }, options) |
                    @Ajax.ActionLink("Delete", "DeleteReminder", "Reminder", new { reminderTitle = item.Title, reminderId = item.ReminderId, returnUrl = Url.Action("GetSearchResult", "Search") }, options)
                </td>
            </tr>
        }

    </table>
}

else
{
    <p>@ViewBag.Message</p>
}



